<!DOCTYPE html>
<html>
<head>
    <title>YayHoo Search Engine</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<h1>YayHoo Links</h1>
<ul>
    <% items.forEach( item => { %>

        <li>
            <a href="/<%= item.url %>"><%= item.title %></a>
            <p><%= item.description %></p>
        </li>

    <% }); %>
</ul>
</body>
</html>